library("tcltk")
library("Rfastp")
library("BSgenome.Hsapiens.UCSC.hg19")
library("GenomeInfoDb")
library("GenomicAlignments")
library("tools")
library("gmapR")
library("R.utils")
library("ShortRead")
library("TxDb.Hsapiens.UCSC.hg19.knownGene")
library("Rsubread")
library("Rsamtools")
library("ggplot2")
library("SummarizedExperiment")
library("VariantTools")
library("VariantAnnotation")
library("saasCNV")
library("BiocParallel")